.container-cenas{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.img-cenas{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

@media (max-width: 560px){
    .container-cenas{
        flex-direction: column;
        margin-left: 40px;
    }
}


