.containerHero{
    position: relative;
}

.imgHero{
    position: absolute;
    margin-top: 20px;
    width: 100%;
}

.imgMarca{
    width: 100%;
    position: absolute;
    opacity: 70%;
    border-radius: 10px;
}