.imgHero{
    position: relative;
    width: 100%;
}

.imgMarca{
    position: absolute;
    opacity: 70%;
    right: 0;
    bottom: auto;
    z-index: 1;
    width: 100%;
    height: 113%;
}

@media (max-width: 560px){
    .imgMarca{
        width: 100%;
        height: 32%;
    }
}