.titulo{
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-style: italic;
    text-shadow: 0 0 0.2em rgb(197, 60, 41), 0 0 0.2em rgb(197, 60, 41), 0 0 0.2em rgb(197, 60, 41);
}

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 70px;
}

.viajes{
    width: 100%;
    margin-left: 100px ;
}

.img-viajes{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 560px){
    .titulo{
        font-size: medium;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }
    .viajes{
        margin-left: 40px;
    }
}