.titulo{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 50px;
}

.viajes{
    width: 100%;
    margin-left: 100px ;
}

.img-viajes{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 560px){
    .titulo{
        font-size: medium;
    }
    section{
        flex-direction: column;
    }
}